{% extends "main-template.html" %}{% load static %}
{% block title %} Productos {% endblock %}
{% block content %}
<div class="container-fluid d-flex row justify-content-center align-items-stretch align-content-center py-5 px-5">
    <div class="card mb-5 me-5" style="width: 20%;">
        <div class="cont-img-card d-flex">
            <img src="{% static 'img/productos/1.png' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <div class="cont-img-card d-flex">
            <img src="{% static 'img/productos/2.png' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <div class="cont-img-card d-flex">
            <img src="{% static 'img/productos/3.png' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <div class="cont-img-card d-flex">
            <img src="{% static 'img/productos/5.png' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <div class="cont-img-card d-flex">
            <img src="{% static 'img/productos/6.png' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <img src="{% static 'img/productos/8.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <img src="{% static 'img/productos/9.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <div class="cont-img-card d-flex">
            <img src="{% static 'img/productos/10.png' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
    <div class="card mb-5 me-5" style="width: 20%;">
        <div class="cont-img-card d-flex">
            <img src="{% static 'img/productos/11.png' %}" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Shampoo Ultra</h5>
          <h6 class="sub-card">Precio: $3.590</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-dark">Agregar</a>
        </div>
    </div>
</div>
{% endblock %}
