{% extends "main-template.html" %}{% load static %}
{% block title %} Contacto {% endblock %}
{% block content %}
<div class="d-flex flex-column justify-content-center align-content-center align-items-center">
    <img src="https://img.icons8.com/ios/500/pets--v1.png" alt="" class="d-inline-block align-text-top mt-5" style="width:100px">
    <h2 class="mt-2">Contactanos!</h2>
    <h5>Realiza cualquier consulta a traves del siguiente formulario. A la brevedad posible te contactaremos!.</h5>
    <form class="col-5 mt-4" id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Asunto</label>
          <input name="inp-asunto" type="text" class="form-control" id="inp-asunto" aria-describedby="emailHelp" value="">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nombres</label>
          <input name="inp-nombre" type="text" class="form-control" id="inp-nombre" value="">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Apellidos</label>
          <input name="inp-apellidos" type="text" class="form-control" id="inp-apellidos" value="">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email</label>
          <input name="inp-email" type="email" class="form-control" id="inp-email" value="">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Teléfono</label>
          <input name="inp-tel" type="phone" class="form-control" id="inp-tel" value="">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mensaje</label>
          <textarea name="inp-mensaje" type="text" class="form-control" id="inp-mensaje" value=""></textarea>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="inp-copia" value="">
          <label class="form-check-label" for="exampleCheck1">Enviarme una copia?</label>
        </div>
        <button type="button" class="btn btn-primary" onclick="enviar_contacto()">Enviar Consulta</button>
      </form>
      <ul class="errors-list d-none mt-4" style="color: #e31e4c;"></ul>
</div>
<script src="{% static 'js/contacto.js' %}"></script>

{% endblock %}
